<html>
<head>
<meta charset = " utf -8 "/>
<script>
var nome="jose maria";
if(nome=="jose maria"){	window.document.write("<br><b>nome estranho");
}
if (nome=="fernando"){
	window.document.write("<br ><b>nome lindo");
}
if(nome=="beatriz"){	window.document.write("<br><b>nome bonito");
}
</script>
</head>
</html><html><
